* {
	margin: 0;
	padding: 0;
}



.host {
	height: 100%;
	width: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("video.gif");
	background-position: center;
	background-size: cover; 
	position: absolute;
}
.formbox{
	width: 380px;
	height: 500px ;
	position: relative; 
	margin: 6% auto;
	background:#fff;
	padding: 5px;
	overflow:hidden; ;
	

}
.buttonbox{
	width: 220px;
	margin:35px auto;
	border-radius:30px;
	box-shadow: 0 0 20px 9px lightcyan;
	position: relative;
}
.togglebutton{
	padding: 10px 30px;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	cursor: pointer;
}

#tbtn{
	top: 0px;
	left: 0px;
	width:110px;
	height:100%;
	border-radius: 30px;
	transition: .5s;
	background: linear-gradient(to right,aqua,lightcyan);
	position: absolute;
}

.data{
	top : 180px;
	position: absolute;
	width :280px;
	transition: .5s;
}

.inputdata{
	width:100%;
	padding: 10px 0;
	margin: 5px 0;
	border-bottom: 1px solid black;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	outline: none;
	background: transparent;


}

.sub-btn{
	width: 85%;
	padding:10px 30px;
	display:block;
	margin:auto;
	border:0;
	outline: none;
	border-radius: 30px;
	background: linear-gradient(to right,aqua,lightcyan);
	cursor: pointer;
	box-shadow: 0 0 20px 9px lightcyan;

}
.check-box{
	margin:30px 10px 30px 0;
}
span{
	color: brown;
	font-size: 12px;
	bottom: 68px;
	position: absolute;

}
#log{
	left :50px;
}
#reg{
	left :450px;
}


@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
      }

}